<?xml version="1.0" encoding="utf-8"?>
<Include xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="dirResources">  <!-- 改为引用 dirResources -->
            <Directory Id="dirFB2F2BA80FB935A21B982D43BE9FB2ED" Name="assets" />
            <Directory Id="dirB016360A5AFD488C8D2C6AD0B613FD72" Name="config" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ResourcesGroup">
            <Component Id="cmpFE41C83052F50AC291631B0EA0599C58" Directory="dir8EB6693E5732479CC5D9E30038A4A7BC" Guid="{63678312-F7A5-40C8-8909-D5617E981EB9}">
                <File Id="fil1198EA66B263F8821493452E9263F6D1" KeyPath="yes" Source="Resources\assets\fonts\Text.ttf" />
            </Component>
            <Component Id="cmp7A6473D19B21E90C866FE598EABF40EE" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{7BEBC3A0-12ED-4951-BEB3-A6133A085F87}">
                <File Id="filD4926659957153C8C7983E6267ED1E64" KeyPath="yes" Source="Resources\assets\images\0_title.png" />
            </Component>
            <Component Id="cmp05529B95CD432138B8145514C072B739" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{6F25B0BE-C535-44C1-B7E4-D74D12A39034}">
                <File Id="fil7CDEC13AC48EE469486284B6946E3341" KeyPath="yes" Source="Resources\assets\images\1_title.png" />
            </Component>
            <Component Id="cmp5F372951C1081C01B0E2EF336D6224AF" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{A4EA1529-CC2F-4F41-BC52-2610A5B93B2C}">
                <File Id="fil51029F3A2075AF7679198268AD87EC44" KeyPath="yes" Source="Resources\assets\images\add_level.png" />
            </Component>
            <Component Id="cmp629540A95A209C3169A514B058FC4AED" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{A23EC304-980B-4B47-9509-A38122B9D654}">
                <File Id="filA7525138651AA2EC75A945E0A68A20A1" KeyPath="yes" Source="Resources\assets\images\add_map.png" />
            </Component>
            <Component Id="cmp28A13E41863413DBF68D4AF213A23051" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{FE81C9ED-8876-4BE6-B4EA-80406ED73BB7}">
                <File Id="fil1BB9038591E838D91F5049F4FF24FD0A" KeyPath="yes" Source="Resources\assets\images\back.png" />
            </Component>
            <Component Id="cmpB728B0D59C1F4AAC080E0EBC3F026605" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{3E8D7646-A242-4D58-ACA3-A3F9A080A739}">
                <File Id="filC8682CA2AC7E05BA7055F72019B3270C" KeyPath="yes" Source="Resources\assets\images\banner.png" />
            </Component>
            <Component Id="cmp39663BB9FEFFEA42CA9C2EE46A78559B" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{ADE90323-3FD7-402D-BA7E-BED8A375281A}">
                <File Id="fil50DA5948FE4E15CE7DFDBCC87D09CB85" KeyPath="yes" Source="Resources\assets\images\binder.png" />
            </Component>
            <Component Id="cmp9C44F8643DB51894F5D3E6D1999FE9F6" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{B216846C-9853-4A78-990B-9E40437BFE6F}">
                <File Id="filFC25EF49A5C230C26333259EA1AFEB99" KeyPath="yes" Source="Resources\assets\images\bullet.png" />
            </Component>
            <Component Id="cmpB707DBAC3449706FF55520F2DDFA70B6" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{64A5E8C2-3CA4-47CC-B17D-ABC9CA4D7BF2}">
                <File Id="fil51A8EF724FB0F69B48EC321AD9051948" KeyPath="yes" Source="Resources\assets\images\bullets.png" />
            </Component>
            <Component Id="cmp3DD68BCC2CA92D8008E2226AB349A779" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{45E04329-8CEE-4521-A74A-E2BD46391ACA}">
                <File Id="filB527E9F90743BFDEE9AF420119ACE404" KeyPath="yes" Source="Resources\assets\images\bullets_reload.png" />
            </Component>
            <Component Id="cmp8B32D73A09BF899B50824189A974EB49" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{AD2D6E7B-1F27-4F81-A613-375E5AB3D05E}">
                <File Id="fil5A7328C00D3BF5E57F915721D9C54CAF" KeyPath="yes" Source="Resources\assets\images\check.png" />
            </Component>
            <Component Id="cmp65FD7AA0A123DB8F8914D4C3CAE133FC" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{64727EAC-CBF1-49B0-AEE3-F789D1F65618}">
                <File Id="filD142CEA1C0BB015EBF3DD106D6952910" KeyPath="yes" Source="Resources\assets\images\close_message_box.png" />
            </Component>
            <Component Id="cmp760A585839C77EE0A57F52414F18D837" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{B1AB69F6-A166-4A61-853F-89189458D81C}">
                <File Id="fil3524532BDA6BAF03E6BE393C0A290F53" KeyPath="yes" Source="Resources\assets\images\cost.png" />
            </Component>
            <Component Id="cmpF814CB2966C13C54143267696728E4C2" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{A1B75A08-40A8-4ADB-9036-E29FCEB46E9C}">
                <File Id="fil9CCF54ED4E34A9A36B3C78E2943031B0" KeyPath="yes" Source="Resources\assets\images\editor.png" />
            </Component>
            <Component Id="cmpBF7FD83260DF96927DB2A13B8C0B6947" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{27116CCE-97B5-401B-98CC-BFA2B170C896}">
                <File Id="fil90600E0A5E2821EAED7045DC3F4EED5E" KeyPath="yes" Source="Resources\assets\images\editor_background.png" />
            </Component>
            <Component Id="cmpDC860F8DB8BCEA93C3334DA903058DDF" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{879F07B4-9460-4E6B-AE15-C3CCF74B1A42}">
                <File Id="fil05CDF01AB145C6EB2BC015124B2FB7FF" KeyPath="yes" Source="Resources\assets\images\error.png" />
            </Component>
            <Component Id="cmp9AE90F954906B9ACD108F9BD8E4FB772" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{9F76E33E-FEEE-4ED0-BE31-D60B1CDD53F2}">
                <File Id="fil0E74F6BF4228927D196B45AB2573730C" KeyPath="yes" Source="Resources\assets\images\go.png" />
            </Component>
            <Component Id="cmp9B15A2D842753EF7BC085D75ACF40465" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{2B013DAA-7DAB-4FEA-9C8E-988717DD5C9A}">
                <File Id="fil10EBF7D6F66C541036076F58D4E103AF" KeyPath="yes" Source="Resources\assets\images\gun_normal.png" />
            </Component>
            <Component Id="cmpCEF00F0A0A7CBF462AF11238DDB9A7CC" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{70030362-550D-4A9B-9146-B7D5A5343365}">
                <File Id="fil9CD333B8DA805DDAAD9D10527F796530" KeyPath="yes" Source="Resources\assets\images\home.png" />
            </Component>
            <Component Id="cmp1B6C4459C44D667193E27038CB1C36F6" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{F6E76F7D-2BB4-4F94-8E4A-8659272600D9}">
                <File Id="filEBB140241661BF2AD006E91FE3ACE804" KeyPath="yes" Source="Resources\assets\images\icon.icns" />
            </Component>
            <Component Id="cmp834A02E1D5CBA54EA6DBEAAB125182B1" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{5B16A081-CCE1-49FF-8332-0DB918525C64}">
                <File Id="filA011FDCAB63681D7D763A03BF929E7D3" KeyPath="yes" Source="Resources\assets\images\icon.ico" />
            </Component>
            <Component Id="cmpFFD72681CEC4A005C371AA0F97115C02" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{2C12737F-23DD-47C2-9E52-067A7619F66C}">
                <File Id="fil6EF0CCE09709843C842E5A238AE00891" KeyPath="yes" Source="Resources\assets\images\icon.png" />
            </Component>
            <Component Id="cmp979E8AB88EDA3B5E79E9F8BD4937599A" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{236FB871-35B3-4423-83E2-31B5310D97EE}">
                <File Id="filC63BFD89F8EB0F8AE4F5A445FE6251A2" KeyPath="yes" Source="Resources\assets\images\icon_dev.png" />
            </Component>
            <Component Id="cmpEBB30DC3386D9E13B56058FED917DC05" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{B32B7B7A-7B78-400D-B450-0BC427C1DC6A}">
                <File Id="fil38D8F46EB9052983124B7F71997E9F6A" KeyPath="yes" Source="Resources\assets\images\journey.png" />
            </Component>
            <Component Id="cmp423FD2A1C8AC749E40035C02BE7EDDFB" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{FE75C088-9839-4793-9EBD-2BFF752C5E31}">
                <File Id="filEC95E09C9F21D0B4F637E4FE33B4FEE6" KeyPath="yes" Source="Resources\assets\images\level_hell0.png" />
            </Component>
            <Component Id="cmp6A21AAE579D0606A115CA0708A39B92B" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{E1820C13-7E56-4E2D-9897-34B8A2EB7B01}">
                <File Id="fil3874384D6CA4EEC1B52523DBB5AC1D6F" KeyPath="yes" Source="Resources\assets\images\level_hell2.png" />
            </Component>
            <Component Id="cmp4F5C0E2911125DA2378D6F3D99E91798" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{4EC2C1B4-3B0A-415A-88F1-BC1BC3B4E926}">
                <File Id="fil5A850C9F5BE6F9F33BCB05A5E242A731" KeyPath="yes" Source="Resources\assets\images\level_main0.png" />
            </Component>
            <Component Id="cmpEBBD9E5F4F44A116F45DB394D16A0ADC" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{615E3546-AE79-4B52-84AE-1127E4A036FC}">
                <File Id="fil5724D8BD11224BC3F6E586F6AE110F72" KeyPath="yes" Source="Resources\assets\images\level_main1.png" />
            </Component>
            <Component Id="cmpA6BBFBFBD36D3BC63186EE0FA396C24A" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{7DE8989D-3FC0-40CC-97DB-8F8138719AA9}">
                <File Id="filC5A1D202F4F3D3975C34D229D7DA9D29" KeyPath="yes" Source="Resources\assets\images\level_main2.png" />
            </Component>
            <Component Id="cmp100E1225BA728FA4403AFA996AB26623" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{6D9AC5CE-D4F1-4329-B301-8CA71A9A3632}">
                <File Id="fil520196649BFE19F128499990EC61B2BF" KeyPath="yes" Source="Resources\assets\images\level_side0.png" />
            </Component>
            <Component Id="cmp14330C59801F467450578F5F94750A10" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{62CE6E7D-CE18-4EED-A44A-AD748F2DC56B}">
                <File Id="fil18502AE4AEA73DE8B5A698517D49DE49" KeyPath="yes" Source="Resources\assets\images\level_side2.png" />
            </Component>
            <Component Id="cmp71F9984F29AF20F258E19A0B413F7D62" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{73B2519E-42AB-4ECF-B2F2-22C8F658247D}">
                <File Id="fil662D76952CF2FD54865989F524FFD469" KeyPath="yes" Source="Resources\assets\images\login.png" />
            </Component>
            <Component Id="cmpEC5E3E002F69A3B31FF8AB00B1558AF8" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{F4D21580-CE79-4E0C-B678-67D7965971E2}">
                <File Id="fil60139EAA951BEF38A974D8EE613A17C9" KeyPath="yes" Source="Resources\assets\images\logout.png" />
            </Component>
            <Component Id="cmp2AEB61E62A6F7F95C29D2530246BB72B" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{1CB1163D-DEC2-447F-B84C-8976558E6448}">
                <File Id="fil6EF732BBCFAAF095661F40C9BA5B755B" KeyPath="yes" Source="Resources\assets\images\logo_gun.png" />
            </Component>
            <Component Id="cmp5083F3AB54ADD07BA1BC55912FFAF32A" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{42D1FD11-367C-48FF-83D3-F99983458A6E}">
                <File Id="fil93CAA86BF8632AD429E7D0E54E7C8D29" KeyPath="yes" Source="Resources\assets\images\map_forest.png" />
            </Component>
            <Component Id="cmp3E02E9FF4DE6DF7242A11917A8C4CED9" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{A73B7D30-2232-428F-B51B-1D79D8291A88}">
                <File Id="fil3E395FE9A8AA50A3737111F2FBB88794" KeyPath="yes" Source="Resources\assets\images\map_forest_intro.png" />
            </Component>
            <Component Id="cmp19E978A6ABA8B2E45C334514D4F6F6E0" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{3381E0A3-571A-4CDC-B8F4-D8D68A3D573F}">
                <File Id="filDC21C9BE8BC707401AA16CDAD0898A1B" KeyPath="yes" Source="Resources\assets\images\map_forest_operation_background.png" />
            </Component>
            <Component Id="cmpC04C19FB77B32841155DA2D882E1F7D7" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{B07993CA-AE92-4CFF-B2DE-F45D7146238F}">
                <File Id="fil9B668CE54A3A8544A389DB6434CF1E71" KeyPath="yes" Source="Resources\assets\images\map_forest_operation_background_expand.png" />
            </Component>
            <Component Id="cmp05EA3E12960863478AEC337CF447D802" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{CA45108B-1AC7-4D12-A17F-B5E3867BC7D4}">
                <File Id="fil0312FD54D3908217533BB299AF6AC846" KeyPath="yes" Source="Resources\assets\images\map_lock_intro.png" />
            </Component>
            <Component Id="cmp1D066EE8B494F2C74E561C800916EC4B" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{51D923F7-666B-4170-A862-6B1285F70D19}">
                <File Id="filD19332E21C291A32AF355C891C2EDDEC" KeyPath="yes" Source="Resources\assets\images\map_tutorial.png" />
            </Component>
            <Component Id="cmp1464CC7214D305BD5ACDD12BB6E0BC7E" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{2306B8CC-1E4A-4753-861A-3869C55015CC}">
                <File Id="filB6188DC76AB573F905A0F010F1CE4E3B" KeyPath="yes" Source="Resources\assets\images\map_tutorial_intro.png" />
            </Component>
            <Component Id="cmpBCFC3797E7E00B0F42AE8DADE196B24D" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{C9E7DADC-AE1F-4A8E-981C-8D7D04F6B647}">
                <File Id="fil359596C58EB549A0A28768B007BE74C8" KeyPath="yes" Source="Resources\assets\images\map_tutorial_operation_background.png" />
            </Component>
            <Component Id="cmpA089395937D73125D6598ED00C3ADDC3" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{E8BB1703-A77C-4648-97FA-5C708E3069DE}">
                <File Id="fil33FE90017D55D4B3A4B5F35C161AFB36" KeyPath="yes" Source="Resources\assets\images\map_tutorial_operation_background_expand.png" />
            </Component>
            <Component Id="cmp370DC48F2C66BBCB85DFC91C30A209CB" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{203744AB-DDE3-4421-804B-E1AE10AFD352}">
                <File Id="filA981B0AC309DA13498FBFD8B6A6DBD4E" KeyPath="yes" Source="Resources\assets\images\map_tutorial_operation_start_background.png" />
            </Component>
            <Component Id="cmpC73BF9791A633802439A0A72CF8C9488" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{04F95E78-06CC-426C-8732-E4A81F83A08C}">
                <File Id="fil6B0068B90C268A4D1EF88926F687180B" KeyPath="yes" Source="Resources\assets\images\mouse_white.png" />
            </Component>
            <Component Id="cmpEE721128EC77957D703E689BC2349085" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{3B8DEBCD-1D46-463D-8A54-C96BF329E19F}">
                <File Id="filEFFADA82B7D791A9DEB81E0C20F29554" KeyPath="yes" Source="Resources\assets\images\operation_fail.png" />
            </Component>
            <Component Id="cmpA037E0857B09E45BB5AB76BF9040D949" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{79B084AA-2DC5-42D8-9306-20F1E871C484}">
                <File Id="filD11432E994F644A377942D55B1DAF0C7" KeyPath="yes" Source="Resources\assets\images\power.png" />
            </Component>
            <Component Id="cmp35ED9B002A640AC504295C06F7B114B3" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{44E0AD4B-AE51-4083-A65F-0401C3592B73}">
                <File Id="filEBF4DF69BA118B91E7D33F282DA0B9A3" KeyPath="yes" Source="Resources\assets\images\rc.png" />
            </Component>
            <Component Id="cmp10700B4103AFB3893FF3B9D28059A595" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{AD9C2D97-FF22-48F2-9576-A8C646B6DBFA}">
                <File Id="filA5C488DEDE796A9F05840628DEF1E321" KeyPath="yes" Source="Resources\assets\images\refresh.png" />
            </Component>
            <Component Id="cmp739A4BBA7DEEB795B5B530EE376E5668" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{C0B6A02F-FAE6-4F9C-95C6-D6462C85B741}">
                <File Id="filB5753A5D8E5E2721F4C68B26839A7E1A" KeyPath="yes" Source="Resources\assets\images\register.png" />
            </Component>
            <Component Id="cmp441DD6CBFB1D9F901E86AF3109A9403A" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{B32DF9C3-1CD3-4892-8E34-073610E67C01}">
                <File Id="fil8501DC09E08F0386019AC367A750C9BE" KeyPath="yes" Source="Resources\assets\images\scroll_remind.png" />
            </Component>
            <Component Id="cmp369CC812661838A609BDBBA3441A14F8" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{C9AEEF1C-B108-446F-A8DA-BD189E9EC138}">
                <File Id="fil828D99C93FD96FA1A727BF11E7AA830C" KeyPath="yes" Source="Resources\assets\images\settings.png" />
            </Component>
            <Component Id="cmp8E43A526645C501B0F8877177770993B" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{C477ECAF-6974-4181-9CAB-F891FD12E7B1}">
                <File Id="filDD2DAC554E5E519456CA7DAF630A4440" KeyPath="yes" Source="Resources\assets\images\shutdown.png" />
            </Component>
            <Component Id="cmp0119AB48C898DB20AD90C18C42EA1DB6" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{3FFE3055-9A0B-42AC-AE51-EA25AE110BD1}">
                <File Id="filFFDA5C8425069EA5CEFA061780D8D05A" KeyPath="yes" Source="Resources\assets\images\start_operation.png" />
            </Component>
            <Component Id="cmpAF443092BBF0681767EC2808E4736EE4" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{32284946-48F0-4EF9-97FD-C67E9FABAE08}">
                <File Id="filF98A722F509938770E871F865696A481" KeyPath="yes" Source="Resources\assets\images\target_enemy.png" />
            </Component>
            <Component Id="cmpA05174B5DFDC61D5987EE1FBFD476E02" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{33D46C09-D2D0-4A19-B354-10DEF2299A9D}">
                <File Id="fil62C2D43B0F9D80E3F044C4721CEDA612" KeyPath="yes" Source="Resources\assets\images\target_point.png" />
            </Component>
            <Component Id="cmpA551412FDDD73B1D77BAAF10B0B907C8" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{0463B4F9-4723-4911-A8C3-062B6B330003}">
                <File Id="fil9C1520E21B4A4FEC0B73BBB939B031DA" KeyPath="yes" Source="Resources\assets\images\train_enemy_0.png" />
            </Component>
            <Component Id="cmp0006E41FF0FF8AD41BC021457CC4266E" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{1F0D6954-8D28-475E-A971-E7F407A0A203}">
                <File Id="fil9458EE5BA2B24A0D8DBE10D8D5F72A36" KeyPath="yes" Source="Resources\assets\images\train_enemy_1.png" />
            </Component>
            <Component Id="cmpC4EE9F6748CE97C8DE8FBFBE487F3865" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{2B57C3F0-B467-4322-B18F-27E8AAA09F43}">
                <File Id="filFF951D1A8B06DC0A97B9486E18A5514C" KeyPath="yes" Source="Resources\assets\images\train_enemy_2.png" />
            </Component>
            <Component Id="cmpEF1FCD65BF0EE35103538C87912394B7" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{9CFE2BC9-CDAF-4FC1-ABB0-E4A8B1BCCFDD}">
                <File Id="fil6E749161436EE10C4F72C59604990DF8" KeyPath="yes" Source="Resources\assets\images\train_enemy_3.png" />
            </Component>
            <Component Id="cmpE397882B7F66DBCD18D2575F14B27915" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{3B6086BD-8B32-41A8-9E60-A952E616DB7A}">
                <File Id="fil12D3ABDD51E669EA8E06C9E16205B819" KeyPath="yes" Source="Resources\assets\images\train_enemy_4.png" />
            </Component>
            <Component Id="cmpBA4E9D92BD13296F3699333A473C1BD4" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{1E51500D-3609-4D49-9844-554F7C6DFE27}">
                <File Id="filBBBEF972506A98E9C8D24EF8098BCACB" KeyPath="yes" Source="Resources\assets\images\tutorial_defend.png" />
            </Component>
            <Component Id="cmpAC07A609EF81A53828A6375B6AB49686" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{F226824A-6386-4BD4-B7BA-8F5C8758F7B8}">
                <File Id="fil88C95C3E142EF7AAF3E177347D376040" KeyPath="yes" Source="Resources\assets\images\tutorial_fire.png" />
            </Component>
            <Component Id="cmp127C92EB369B19FB71AA949574F65F52" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{D924527B-D268-497D-9626-C35A44F796D3}">
                <File Id="fil1A3FD0AFEA3085AFC8924C84CE93FB2A" KeyPath="yes" Source="Resources\assets\images\tutorial_move.png" />
            </Component>
            <Component Id="cmpBBB0292897D98F8B54DD8E18AD0FF2F8" Directory="dir239C23AC2EA30B3E99EB852847CCBB32" Guid="{62D8BA69-9E22-444D-9500-DE05A96A537D}">
                <File Id="filC1781C87F3AA4DE00423355B0697D570" KeyPath="yes" Source="Resources\assets\images\wallpaper.png" />
            </Component>
            <Component Id="cmp25DFAA2F00206A746CE945AA1FA8F068" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{6F957F00-9E99-4157-8FE4-CA4B6F1F861C}">
                <File Id="filC7BF6A5846CEE2DD5A02C50F6BEF4C78" KeyPath="yes" Source="Resources\assets\sounds\Alert.wav" />
            </Component>
            <Component Id="cmp873AF1AA99F62BB8658147C0B948AE7D" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{20DBA926-FBDF-4B72-BD42-C9803345252E}">
                <File Id="filFFF6DCDA3329B753E8F1937B731CB450" KeyPath="yes" Source="Resources\assets\sounds\Charge_Shoot.wav" />
            </Component>
            <Component Id="cmp1A5B431BE94E1EB9C8BF7CA0E618D26B" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{C877E845-7709-48F3-BBFD-EF2BAB665909}">
                <File Id="fil9EB11F994C2762A38BA80FE59252558F" KeyPath="yes" Source="Resources\assets\sounds\Click.wav" />
            </Component>
            <Component Id="cmp028BFC99CD7846E6012647F96563470D" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{5A6BF6BF-CA8E-4D9D-8D25-1E4530028C14}">
                <File Id="filB422C0BD5D9D2049D8D4B234EE97F046" KeyPath="yes" Source="Resources\assets\sounds\Enemy_Death.wav" />
            </Component>
            <Component Id="cmp1308A93DAA538A15FD2D0DAEACB7E30C" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{60DF7091-83AD-4213-A378-7B7639BE4E37}">
                <File Id="fil5611C7718C6D5BA17CFE656703585383" KeyPath="yes" Source="Resources\assets\sounds\Error.wav" />
            </Component>
            <Component Id="cmp7B7847BF1125CFA267D426AB2F8DA484" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{DC4C1A17-6676-4CB2-9E0E-4722982ABDAC}">
                <File Id="filA52C451E664C1BC7572F6DAFFACE2805" KeyPath="yes" Source="Resources\assets\sounds\Hit.wav" />
            </Component>
            <Component Id="cmp17497B0DE23199F39404B3C0F3A0F785" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{7BF072DD-E639-42EC-A040-E380ABD2D5BB}">
                <File Id="filFDBB64C2213BDB76542FAE76CAF28B22" KeyPath="yes" Source="Resources\assets\sounds\Hit_No_Damage.wav" />
            </Component>
            <Component Id="cmp2C5A80537D81B3C6CA9990EF83E9F645" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{3F57ADBC-1BCF-4478-88F6-74B03584D75A}">
                <File Id="fil6C42466B6703751AD75398B3960A2C3A" KeyPath="yes" Source="Resources\assets\sounds\Launch.wav" />
            </Component>
            <Component Id="cmp513DC2DF2E94105B7CA99B1ABAF979CA" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{6B603F7C-30C4-40B0-B129-AA7ACC65AE0B}">
                <File Id="filB74686275F003AAC84DC20C0D80D06BE" KeyPath="yes" Source="Resources\assets\sounds\Notification.wav" />
            </Component>
            <Component Id="cmp26309742D662FD1A0F8A270A840FAC8A" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{ED460A1B-DFD1-450F-9D87-461501E4CE10}">
                <File Id="fil8FCA7BC518F7DF1385F4C0F983513A0C" KeyPath="yes" Source="Resources\assets\sounds\No_Bullet_Shoot.wav" />
            </Component>
            <Component Id="cmpEBA929ED71C8DBDC908DBE1D4AAAA8CD" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{80F38C77-DB32-41DF-80F5-FEFAF5DDE2BE}">
                <File Id="filD81D7C407041B2FCACB235A17D5849C4" KeyPath="yes" Source="Resources\assets\sounds\Operation_Start.wav" />
            </Component>
            <Component Id="cmp1B87557FE7AE47AB445D74D43ADB909B" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{9561A40D-5EFA-4B05-826D-ACF8E3340625}">
                <File Id="fil06AB42024EE6B23948F49C6317BAA907" KeyPath="yes" Source="Resources\assets\sounds\Overheating.wav" />
            </Component>
            <Component Id="cmpE7E8B9918C23EDDE2E301EFFB30B60DB" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{3C9068A8-622E-458F-893E-91B06AAB7592}">
                <File Id="fil880CFFDFD0E03DCF439373AAF02B6BB5" KeyPath="yes" Source="Resources\assets\sounds\Pause.wav" />
            </Component>
            <Component Id="cmp3DACAF6D9E85D90B7900D565DFABB30B" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{C35E9208-36D4-45E4-A22E-766530F43CFF}">
                <File Id="filE114DED4D10ED9B69AD7E8C442E3615B" KeyPath="yes" Source="Resources\assets\sounds\Reload.wav" />
            </Component>
            <Component Id="cmp8AF932AFACB0521DF4813EB02C8B751F" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{6939DBAB-EC6A-4D54-AA63-D3853CCB6B4C}">
                <File Id="fil7758773614C11A5B4C2F9CE77978D713" KeyPath="yes" Source="Resources\assets\sounds\Reload_Bullet.wav" />
            </Component>
            <Component Id="cmp9A9E51E9625E22AB5C9B26D3218DC353" Directory="dir053B92CC24AA5E88F010D4D3CA06A805" Guid="{0707CBEB-7E1B-4FB6-9594-98049B492836}">
                <File Id="fil8F72B41E8C1D82BAD86EE563A1275C28" KeyPath="yes" Source="Resources\assets\sounds\Shoot.wav" />
            </Component>
            <Component Id="cmp7B9814E22C061FF592948BDAB0B58AFF" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{71094EC4-0DB3-497E-AEB2-F718D23AF02C}">
                <File Id="filCA072530D530FE8F7BE699644CA66F92" KeyPath="yes" Source="Resources\config\enemy_train_enemy.json" />
            </Component>
            <Component Id="cmpB18202693B4DF9BE4A8E6025029AF2DD" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{A1069068-1AAE-4D68-B1D8-D27630898211}">
                <File Id="fil6120156A68CF3CD74B55CD0FA9F6784D" KeyPath="yes" Source="Resources\config\GameText.json" />
            </Component>
            <Component Id="cmp1067B835ECC9A8F945DC206EB34CFDB3" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{4AA9F7AE-4EC5-42AF-8B36-F57421B6006C}">
                <File Id="fil5AFD1C89324D5175ACEAC6B68B334A69" KeyPath="yes" Source="Resources\config\gun_pistol.json" />
            </Component>
            <Component Id="cmp333292F53A8D210A5A8D1932277CDFF0" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{46BBBFF7-FE9C-4E5F-AD6E-78716EEE0F44}">
                <File Id="fil569890DBDF02BFF907E8BAB6D6499889" KeyPath="yes" Source="Resources\config\gun_submachine.json" />
            </Component>
            <Component Id="cmp5F0D5ECAD65AA2C2C4EF6EE87B77072B" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{FCDF9956-1C0A-400C-8BAA-92E7AC1E4A09}">
                <File Id="fil6CD8BDDD79CDD5D2F90A47FB95A1FF70" KeyPath="yes" Source="Resources\config\level_tutorial_1-1.json" />
            </Component>
            <Component Id="cmp6CFD6F2CD7B3D9E46FCBF234E70BCA4D" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{E2AB1406-EB82-4158-98A3-F8108996E79D}">
                <File Id="fil06677D50EB906457696476AFF63D5C90" KeyPath="yes" Source="Resources\config\map_tutorial.json" />
            </Component>
            <Component Id="cmpA2C5E8844472D5A72B7B8D1DB93D45C2" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{B04EA1E5-089C-4FE0-87DA-EB5D5D803F56}">
                <File Id="filD74A982B7D7C1AD183B38CA088F26D25" KeyPath="yes" Source="Resources\config\path_down.json" />
            </Component>
            <Component Id="cmpB8B4E76BEE81853B204A2E2FA1A48D18" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{FE6F53D7-C8BC-4D21-9C82-B93BB6B8DF0B}">
                <File Id="fil095641EC4A4B4B796ED1DF93DF897C87" KeyPath="yes" Source="Resources\config\path_halt.json" />
            </Component>
            <Component Id="cmpD688947C1B05A3D1C3C6AD2CBB1B4D51" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{25E6C9A4-2CD6-4F4B-B4EC-0ABF697C4AE9}">
                <File Id="fil7FCEA1D2EC645D3B43D1350DE56D70E3" KeyPath="yes" Source="Resources\config\path_left.json" />
            </Component>
            <Component Id="cmp2F7F1EF9BA9B89A09F83CB4E1FBC7A98" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{2B8DED47-3647-407D-8F3E-ED939A8AE04A}">
                <File Id="fil0F144F8EB05B5846A25A29F0458E905D" KeyPath="yes" Source="Resources\config\path_right.json" />
            </Component>
            <Component Id="cmp75DE416DB6B7B3EF41604C7B4AB58D95" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{1AEFCD2C-8838-4194-AD35-E7FB57D092F3}">
                <File Id="fil91C6E434656E6B476979C9E7EE6DC2B3" KeyPath="yes" Source="Resources\config\path_top.json" />
            </Component>
            <Component Id="cmp8E54145045B3B405F620F4CFD00CF141" Directory="dirB016360A5AFD488C8D2C6AD0B613FD72" Guid="{90DC8288-9352-4AC7-B17C-0466EE3080FD}">
                <File Id="filE1253674AF0FAF30E5A4573463B5B062" KeyPath="yes" Source="Resources\config\Preferences.json" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFB2F2BA80FB935A21B982D43BE9FB2ED">
            <Directory Id="dir053B92CC24AA5E88F010D4D3CA06A805" Name="sounds" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFB2F2BA80FB935A21B982D43BE9FB2ED">
            <Directory Id="dir239C23AC2EA30B3E99EB852847CCBB32" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFB2F2BA80FB935A21B982D43BE9FB2ED">
            <Directory Id="dir8EB6693E5732479CC5D9E30038A4A7BC" Name="fonts" />
        </DirectoryRef>
    </Fragment>
</Include>